#today {
 -fx-text-fill: coral;
}

.toggle-button {
 -fx-background-color : white;
}

.toggle-button:hover {
 -fx-background-color : cyan;
}

.toggle-button:selected {
 -fx-background-color : blue;
 -fx-text-fill: red;
}

#opaque {
 -fx-background-color : white;
}

#horsMois {
 -fx-text-fill: grey;
}

#back {
 -fx-background-color : white;
}
